html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100%;
  width: 100%;
}

.photo {
  position: absolute;
  border-radius: 50%;
  border: white 2px solid;
  background-image: url("./res/photo.JPG");
  background-size: cover;
  background-position: center;
  height: 24%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
}
.about-me {
  opacity: 0;
}

.grid-item {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
  font-size: 30px;
  letter-spacing: 2px;
}
.grid-item.achievements {
  border-left: 2px white solid;
  border-bottom: 2px solid white;
}
.grid-item.my-games {
  border-left: 2px white solid;
}
.grid-item.skills {
  border-bottom: 2px white solid;
}

.hover-effect-skills {
  background-image: url("./res/sakura.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.45);
  cursor: pointer;
}
.hover-effect-achievements {
  background-image: url("./res/fireworks.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.45);
  cursor: pointer;
}
.hover-effect-games {
  background-image: url("./res/unity.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.45);
  cursor: pointer;
}
.hover-effect-hobbies {
  background-image: url("./res/jy.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.45);
  cursor: pointer;
}
.photo-hover {
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.45);
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.skills-description {
  background-image: url("./res/sakura.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.85);
}
.achievements-description {
  background-image: url("./res/fireworks.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.85);
  background-attachment: fixed;
}
.hobbies-description {
  background-image: url("./res/jy.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.85);
}
.my-games-description {
  background-image: url("./res/unity.gif");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.85);
}
html::-webkit-scrollbar {
  display: none;
}

.desc-align {
  font-family: Comfortaa;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
h2 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
li {
  margin: 12px;
}
.logos {
  display: flex;
  width: 550px;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 25px;
  padding: 10px;
}
.logos > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.time-line {
  width: 20px;
  height: 6300px;
  background-color: aqua;
  border-radius: 25px;
  margin-left: 50px;
  position: absolute;
  margin-top: 110px;
}
.time-line-align {
  font-family: Comfortaa;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.time-line-align > h2 {
  margin: 25px;
  align-self: center;
}

.show-year {
  font-weight: bold;
  background-color: aquamarine;
  border-radius: 20px;
  border: black solid 2px;
  color: black;
  padding: 20px;
  margin-left: 90px;
  margin-top: 50px;
}
.text-content {
  margin-left: 120px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.img-container > img {
  width: 500px;
  height: 400px;
  object-fit: contain;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: aquamarine;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.text-content > p {
  font-size: 15px;
}
.back-button {
  font-size: 15px;
  margin: 0px;
  align-self: center;
}
.back-button:hover {
  color: aquamarine;
  cursor: pointer;
}
.back-button.spc {
  align-self: flex-start;
  margin-bottom: 20px;
}
